body {
  font-family: 'Assistant', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}

#root {
  margin: auto;
  max-width: 100%;
  border-radius: 15px;
  color: rgb(208, 209, 236);
}

/* Date Input Styling */
.date-picker {
  padding: 12px;
  border-radius: 20px;
}