body {
  font-family: 'Assistant', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}

#root {
  margin: auto;
  max-width: 100%;
  border-radius: 15px;
  color: rgb(208, 209, 236);
}

/* Calendar */
#calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#calendaritem {
  background-color: white;
  color: black;
  margin: 5px;
  padding: 10px;
  border: forestgreen;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
}